<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Добавь свой текст на картинку</h1>
    <div>
        <img src="../static/meme4.jpeg" alt="">
    </div>
    <form action="" method=post enctype=multipart/form-data>
          <label for="txt1">Текст 1</label>
          <p><input id="txt1" type="text" name=text1></p>
          <label for="txt2">Текст2</label>
          <p><input id="txt2" type="text" name="text2"></p>
          <input type=submit value=Upload>
    </form>
</body>
</html>